.item-card{
    /* height : 500px; */
    width : 200px;
    margin : 5px;
    margin-bottom :9px;
    border-radius : 5px;
    position : relative;
}
.item-card:hover{
    box-shadow : 0px 0px 15px rgb(226, 216, 216);
    cursor: pointer;
}
.item-card:hover .item-action{
    display : block;
}
.item-image{
    height : 275px;
    width : 100%;
    border-radius : 3px 3px 0 0 ;
    position: relative;
}
.item-image img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}
.rating-detail{
    height : auto;
    position : absolute;
    bottom: 8px;
    left : 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding : 5px;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius :3px;
}
.star{
    color: rgba(177, 121, 121, 0.8);
}
.item-info{
    padding: 5px 0px 5px 10px;
    background-color :white;
}
.brand-name{
    font-size : 1rem;
    font-weight : bold;
    color : var(--dark-color);
}
.product-name{
    font-size : 0.85rem;
    color : var(--light-color);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.price-details{
    margin-top: 5px;
}
.price{
    font-size : 0.85rem;
    font-weight : bold;
}
.actual-price{
    font-size : 0.75rem;
    color : var(--lighter-color);
    text-decoration: line-through;
}
.discount{
    color : #ff905a;
    font-size : 0.8rem;
}

.item-action{
    width : 100%;
    justify-content : center;
    position : absolute;
    bottom : 30px;
    background-color : white;
    left : 0;
    display:none;
}

.wishlist-button{
    height : 30px;
    width : 90%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 10px;
}
.wishlist-button:hover{
    cursor: pointer;
}
.available-sizes{
    font-size : 0.8rem;
    color : var(--lighter-color);
    padding:5px 0px 5px 10px;
}
.item-list-mobile-action{
    display : none;
}
.item-action .wishlist-button{
    background-color: white;
    border : 1px solid var(--lighter-color); 
} 
.item-action .remove-from-wishlist{
    background-color:#586080 !important ;
    color : white;
}
.item-card-similar-button{
    position : absolute;
    top : -25px;
    right : 5px;
}
.view-similar-mobile-button{
    display : none;
}

@media screen and (max-width: 1000px){
    .item-card:hover .item-action{
        display : none;
    }
    .item-list-mobile-action{
        display : block;
        position : absolute;
        top : 5px;
        right : 5px;
    }
    .item-list-mobile-action button{
        height : 25px;
        width : 25px;
        border : none;
        border-radius: 50%;
        color : rgb(126, 121, 121);
        font-size : 1.2rem;
        cursor : pointer;
        background-color : rgba(221, 199, 199, 0.8);
        padding-top : 3px;
    }
    .heart-remove{
        color : rgb(238, 42, 42);
    }
    .view-similar-mobile-button{
        display : block;
        position : absolute;
        bottom : 9px;
        right : 5px;
    }
    .rating-detail{
        background-color: rgba(255, 255, 255, 0.85);
        padding : 2px 3px;
        font-size: 0.7rem;
        border-radius :10px;
    }
}
@media screen and (max-width: 480px){
    .item-card{
        width : 48%;
        margin : 2px;
    }
    .item-image{
        height : auto !important;
        min-height : 150px;
    }
    .off{
        display: none;
    }
}