.specific-filter-container{
    border-top:  1px solid var(--light-border);
    border-right: 1px solid var(--light-border);
}

.specific-filter-container:last-child{
    border-bottom: 1px solid var(--light-border);
}

label{
    display: block;
}