.wishlist-container{
    height : 100%;
    width : 100%;
    position : relative;
    background-color :white;
    border-radius : 0 0 5px 5px;
    overflow: scroll;
    padding : 10px 10px 10px 10px;
    justify-content : space-evenly;
    align-items : flex-start;
}
.wishlist-container::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 900px){
    .wishlist-container{
        padding-bottom : 50px;
    }
}
@media screen and (max-width: 480px){
    .wishlist-container{
        padding : 0px;
        padding-bottom : 50px;
    }
}