.breadcrumb-container{
    align-items:center;
    width : 100%;
    height : 50px;
    padding-left: 25px;
}
.breadcrumb-item{
    margin: 0px 0px;
}
.breadcrumb-item:hover{
    cursor: pointer;
}
.breadcrumb-item:not(:last-child):after  {
    margin: 0px 10px;
    content: "/";
}
.breadcrumb-item:last-child{
    font-weight: bold;
}