.modal{
    z-index : 50;
    height : 80vh;
    width : 50vw;
    position: fixed;
    top : 10vh;
    left: 25vw;
    background-color:rgb(247, 242, 242);
    padding-top:50px;
    box-shadow: 0px 0px 20px rgb(145, 134, 134);
    border-radius: 5px;
}
.modal::-webkit-scrollbar{
    display: none;
}
.modal-close-button{
    position : absolute;
    top : 10px;
    right : 20px;
    border : none;
    font-size : 2rem;
    background-color: transparent;
    color: rgb(221, 9, 9);
}

@media screen and (max-width: 1150px) {
    .modal{
        width : 80vw;
        left: 10vw;
    }
}
@media screen and (max-width: 900px) {
    .modal{
        width : 100vw;
        height : 100vh;
        top: 0px;
        left: 0px;
        border-radius:0px;
    }
}