.filter-container{
    width : 250px;
    /* border : 2px solid black; */
    display : inline-block;
}
.filter-container > div , .filter-container > h4{
    padding-left:25px;
}
.filter-container-header{
    align-items : center;
    justify-content : space-between;
    padding-right: 10px;
    height :49.5px;
    font-weight: bold;
}
.filter-container-title{
    font-size : 17px;
    font-weight : bold;
}
.clear-all-filters{
    font-size : 14px;
    color:#FF3F6C;
}
.clear-all-filters:hover{
    cursor: pointer;
}
.mobile-filter-icon{
    display : none;
}
.mobile-hide-filter-container{
    display : block;
}

/**********************************   RESPONSIVE   ********************************/

@media screen and (max-width: 1150px) {
    .filter-container{
        width : 200px;
    }
}

@media screen and (max-width: 650px) {
    .mobile-hide-filter{
        display : none !important;
    }
    .filter-container{
        background-color :white;
        z-index:1;
        width : 100%;
        position : fixed;
        top : 60px;
        height : calc(100vh - 60px)!important;
        overflow :scroll;
        padding-top : 50px;
        padding-bottom : 50px;
        /* display : none; */
    }
    .filter-container::-webkit-scrollbar {
        display: none;
    }
    .mobile-filter-icon{
        display : block;
        position : fixed;
        left : 12px;
        font-size:1.5rem;
        z-index: 6;
        margin-top:2px;
        color:var(--lighter-color);
    }
    .close-filter-container{
        font-size: 1.8rem;
        margin-top:-2px!important;
        margin-left: 5px!important;
    }
    .mobile-filter-icon:hover{
        cursor: pointer;
    }
}