.product-samples-container{
    width : 60%;
    /* border : 1px solid black; */
    padding: 0 5px 0 25px;
    display : inline-flex;
    justify-content : space-between;
}
.sample-image-container{
    width : 48%;
    margin: 2px;
    margin-bottom:10px;
    overflow: hidden;
}
.sample-image{
    height : 100%;
    width : 100%;
    transition: all 0.5s ease;
}
.sample-image-container:hover{
    cursor:zoom-in;
}
.sample-image-container:hover .sample-image {
    transform: scale(1.1);
}





/*********************  RESPONSIVENESS  ******************/
@media screen and (max-width: 800px) {
    .product-samples-container{
        width : 50%;
        padding: 0 5px 0 15px;
        display : inline-flex;
        justify-content : space-between;
    }
}
@media screen and (max-width: 650px) {
    .product-samples-container{
        display : none;
    }
}