.product-details-container{
    display: inline-block;
    vertical-align: top;
    padding-left : 20px;
    width : 40%;
    padding-right : 20px;
    position : sticky;
    top : 90px;
    font-size: 15px
}

/*********** BRAND NAME AND PRODUCT NAME ************/

.product-details-container .product-brandname{
    font-size: 1.7em;
    font-weight: 700;
}
.product-details-container .product-name{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: var(--lighter-color);
}

/*************** PRODUCT RATINGS *****************/

.product-rating-count{
    padding-bottom : 15px;
    border-bottom: 1px solid var(--lightest-color);
    margin-bottom: 10px;
}
.product-rating-count .rating{
    font-weight : bold;
}
.product-rating-count .star-icon{
    font-size: 0.9em;
    color: var(--lighter-color);
}
.product-rating-count .no-of-reviews{
    font-size: 0.9em;
    color: var(--light-color);
    font-weight:300;
}

/**************  PRODUCT PRICE  ****************/

.product-price-details .final-price{
    font-size: 1.7em;
    font-weight: 600;
}
.product-price-details .original-price{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--light-color);
    text-decoration: line-through;
}
.product-price-details .discount-percentage{
    font-size: 1.5em;
    font-weight: 500;
    color : #FF905A;
}
.product-price-details .tax-detail{
    color : var(--lighter-color);
}

/*********************  PRODUCT SIZE  ******************/

.product-size-details{
    margin-top : 30px;
    margin-bottom: 2rem;
}
.select-size-title{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.detail-size-label{
    /* display : inline-block; */
    display : inline-flex;
    flex-wrap: wrap;
    align-items : center;
    justify-content : center;
    height : 2.5em;
    width : 2.5em;
    border-radius : 50%;
    border : 0.8px solid var(--lightest-color);
    margin : 5px;
    font-size: 1em;
    margin-top :10px;
}
.detail-size-label:hover {
    border : 1px solid black;
    cursor: pointer;
}   
.size-radio-input{
    display : none;
}
.product-size-details input[type="radio"]:checked + label {
    border : 1px solid black;
    background-color:rgb(250, 227, 227);
}

/**************  PRODUCT ACTIONS  ***************/

.product-actions{
    margin-top: 30px;
}
.product-actions button{
    border-radius : 5px;
}
.product-actions button:hover{
    cursor: pointer;
}
.product-actions .bag-handler-button{
    height : 3em;
    width : 45%;
    background-color:#FF3E6C;
    border : none;
    font-size: 1em;
    font-weight : bold;
    color : white;
}
.product-actions .wishlist-handler-button{
    height : 3em;
    width : 45%;
    border : none;
    background-color:transparent;
    border : 1px solid var(--lightest-color) ;
    margin-left:20px;
    font-size: 1em;
    font-weight: 550;
}
.product-actions .remove-from-wishlist-button{
    background-color:#586080;
    color : white;
}



/*********************  RESPOSIVE  ******************/
@media screen and (max-width: 1000px) {
    .product-details-container{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 800px) {
    .product-details-container{
        padding-left : 20px;
        width : 50%;
        padding-right : 20px;
    }
}
@media screen and (max-width: 650px) {
    .product-details-container{
        padding-left : 20px;
        width : 100%;
        padding-right : 20px;
        padding-bottom: 0px;
    }
    .product-actions{
        display : flex;
        flex-direction : row;
        justify-content : space-evenly;
        align-items : center;
        width:calc(100%);
        position: sticky!important;
        bottom : 0px;
        background-color: white;
        padding:20px 0px;
    }
    .product-actions button{
        width : 50% !important;
    }
}