.view-similar-button{
    padding :0px 6px 0px 6px;
    font-size :0.8rem;
    background-color :rgba(255, 255, 255, 0.85);
    color  : var(--light-color);
    border-radius : 10px;
}
.view-similar-button .small-screen{
    display : none;
}
@media screen and (max-width: 1000px) {
    .view-similar-button{
        /* padding-bottom : 3px; */
        padding :2px 0px 0px 4px;
        font-size :0.7rem;
        height : 20px;
        width :20px;
        background-color :rgba(240, 226, 226, 0.85);
        color  : var(--lighter-color);
        border-radius : 50%;
    }
    .view-similar-button .small-screen{
        display : block;
    }
    .view-similar-button .large-screen{
        display : none!important;
    }
}