.wishlist-item-card{
    width : 200px;
    height : auto;
    border : 0.2px solid rgb(207, 153, 153);
    margin : 15px;
    position: relative;
}
.wishlist-item-image-container{
    width: 100%;
    height : 266px;
    position: relative;
}
.wishlist-item-image{
    width: 100%;
}
.wishlist-item-details{
    align-items : center;
    justify-content :center;
    padding : 10px 5px;
}
.wishlist-item-name{
    max-width :100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size : 0.9rem;
}
.wishlist-item-price{
    font-weight: bold;
}
.wishlist-item-original-price{
    font-size: 0.7rem;
    text-decoration: line-through;
    color : var(--lighter-color);
}
.wishlist-item-discount{
    font-size: 0.7rem;
    font-weight : bold;
    color : #FF905F;
}
.wishlist-item-action {
    border-top : 0.2px solid rgb(207, 153, 153);
    padding: 15px 0px;
}

.move-to-bag-button{
    color : #FF3E6C;
    border : none;
    background-color:transparent;
    font-size:0.7rem;
    font-weight :bold;
    height : 100%;
    width : 100%;
}
.wishlist-item-action .remove-item-button{
    position : absolute;
    top : 5px;
    right : 5px;
    color : var(--light-color);
    font-size: 1.2rem;
    border : none;
    background-color:transparent
}

@media screen and (max-width: 480px) {
    .wishlist-item-card{
        width : 160px;
        margin : 8px 3px;
    }
    .wishlist-item-image-container{
        height : 213px;
    }
    .wishlist-item-percent-off{
        display : none;
    }
}