/***************************
    CSS Color Variable
****************************/
:root{
    --lightest-color: #D4D5D9;
    --lighter-color: #7e818c;
    --light-color: #535766;
    --dark-color: #282c3f;
    --light-border:#E9E9ED;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

/***************************
    Common flex Stylings
****************************/
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
}
.center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color : black;
}